


<div class = "container">

  <div class = "row">
    <div class = "col s12 col m4 offset-m4 col l4 offset-l4 login-form">

      <div class = "card-panel">
        <h4 class = "center">Sign up</h4>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, required: true %>
            </div>

            <div class="form-actions center">
              <%= f.button :submit, "SIGN UP" , :class => 'amber'%>
            </div>
          <% end %>

           <div class = "center"> Already have an account ? <%= render "devise/shared/links" %></div>
        </div>
    </div>
  </div>
</div>
