<div class="col s12 m4">
  <%= link_to tribe_path(tribe) do %>
    <div class="card border-dotted-cyan">
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<% if lawyer.office_photo? %><%= cl_image_path(lawyer.office_photo.path, height: 300, width: 400, crop: :fill) %><% else %><%= cl_image_path('https://askthelaw.ae/wp-content/uploads/2016/12/law-office-lawyers-in-your-city.jpg', height: 300, width: 400, crop: :fill) %><% end %>);">
        <% if tribe.photo? %>
          <%= cl_image_tag tribe.photo.path, crop: :fill %>
        <% end %>
        <span class="card-title"><%= tribe.name %></span>
      </div>
      <div class="card-content primary-txt">
        <p><%= tribe.about %></p>
      </div>
    </div>
  <% end %>
</div>
