<div class="col s12 m4">
  <div class="card white">
    <div class="card-content black-text">
      <span style = "display: inline-block; vertical-align: middle; padding-right:10px">
        <% if tribe.photo? %>
          <%= cl_image_tag("#{tribe.photo.path}", height: 50, width: 50, :class => "circle") %>
        <% else %>
          <%= cl_image_tag('https://s2.qwant.com/thumbr/0x0/5/1/327f1a9730f8f9a3db456dc43e0588/b_1_q_0_p_0.jpg?u=http%3A%2F%2Fst.depositphotos.com%2F1029662%2F1324%2Fv%2F950%2Fdepositphotos_13242438-Africa-Red-Indian-Eskimo-Man-Woman-National-Traditional-Costume-Dress-Clothing-Icon-Symbol-Sign-Pictogram.jpg&q=0&b=1&p=0&a=1', height: 50, width: 50, :class => "circle") %>
        <% end %>
      </span>
      <span class="card-title" style = "display: inline-block; vertical-align: middle"><%= tribe.name %></span>
      <p class="card-short"><%= tribe.short_desk %></p>
    </div>
    <div class="card-action">
      <a
        href="javascript:;"
        data-modal-target="<%= "#modalskills-#{tribe.id}" %>"
        class="cyan-text text-darken-2 modal-skills-opener">SKILLS</a>

      <a
        href="javascript:;"
        data-modal-target="<%= "#modalmap-#{tribe.id}" %>"
        data-map-id="<%= "map-#{tribe.id}" %>"
        data-map-markers="<%= tribe.coordinates.to_json %>"
        class="cyan-text text-darken-2 modal-map-opener">MAP</a>
      <%= link_to "SHOW", tribe_path(tribe), class: "cyan-text text-darken-2" %>
      <!-- <a href="#" class="cyan-text text-darken-2">SHOW</a> -->
    </div>
  </div>
</div>

<div class = "container center">
<!-- Modal Trigger -->

  <!--Modal Structure skills -->
  <div id="modalskills-<%= tribe.id %>" class="modal modal-skills">
    <div class="modal-content">
      <h4>Tribe skills</h4>
      <% tribe.skills_tribe.uniq.each do |skill| %>
        <div class='chip'><%= skill %></div>
      <% end %>
    </div>
    <div class="modal-footer">
      <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
  <!-- Modal Structure map-->
  <div id="modalmap-<%= tribe.id %>" class="modal modal-map" data-tribe-id="<%= tribe.id %>">
    <div class="modal-content">
      <h4>Tribe map</h4>
      <div id="<%= "map-#{tribe.id}" %>" style="width: 100%; height: 300px;"></div>
    </div>
    <div class="modal-footer">
      <a href="javascript:;" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>
