<div class="container">
  <div class = "row">
    <div class = "col s12 col m6 offset-m3 col l6 offset-l3 login-form">
      <div class = "card-panel">
        <h4 class="center-align">New Tribe</h4>
        <%= simple_form_for @tribe do |f| %>
        <%= f.input :name, input_html: { class: 'validate' } %>
        <%= f.input :short_desk, input_html: { class: 'validate' }, :maxlength=>"30" %>
        <%= f.input :about, as: :text, input_html: { class: 'materialize-textarea' } %>
        <div class="file-field input-field">
          <div class="btn btn-input-file-cyan">
            <span>Photo</span>
            <%= f.input :photo, as: :attachinary, label: false %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one file only please">
          </div>
        </div>
        <div class="center-align" style="padding: 20px">
          <%= f.submit "Add my tribe", class: 'btn-large waves-effect waves-light amber' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
