
<!-- top section -->

<div class="container">
  <div class="right-content center">
    <div class = "img-tribe">
      <% if @tribe.photo? %>
        <%= cl_image_tag("#{@tribe.photo.path}", height: 50, width: 50, :class => "circle") %>
      <% else %>
        <%= cl_image_tag('https://s2.qwant.com/thumbr/0x0/5/1/327f1a9730f8f9a3db456dc43e0588/b_1_q_0_p_0.jpg?u=http%3A%2F%2Fst.depositphotos.com%2F1029662%2F1324%2Fv%2F950%2Fdepositphotos_13242438-Africa-Red-Indian-Eskimo-Man-Woman-National-Traditional-Costume-Dress-Clothing-Icon-Symbol-Sign-Pictogram.jpg&q=0&b=1&p=0&a=1', height: 50, width: 50, :class => "circle") %>
      <% end %>
    </div>
      <div class="tribe-name "><h4 class = "center"><%= @tribe.name %></h4></div>
      <div class="tribe-cabout center"><%= @tribe.short_desk %></div>
  </div>
</div>

<!-- Information section -->
<div class="container">
  <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">done</i>Minimum requirements</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">info_outline</i>About</div>
        <div class="collapsible-body"><span><%= @tribe.about %></span></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">import_export</i>Skills</div>
          <div class="collapsible-body">
          <% @skills.uniq.each do |skill| %>
          <div class='chip'><%= skill %></div>
          <% end %>
          </div>
      </li>
    </ul>
</div>



  <div class="row center map-tribe">
    <a class="btn-large waves-effect waves-light amber" href="#modal2">Request to join</a>
  </div>
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Confirm your request</h4>
      <p>Your request to join the tribe is sent to the admin, you will receive an answer soon</p>
    </div>
    <div class="modal-footer">


<%= link_to "Agree", tribes_path, class: "modal-action waves-effect waves-green btn-flat" %>


    </div>
  </div>



  <% content_for(:after_js) do %>
  <%= javascript_tag do %>
$(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
  <% end %>
  <% end %>



<!-- Map -->
<div class = "map-tribe">
  <div id="map" style="width: 100%; height: 400px;"></div>
</div>

<!-- Map rendering -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>






<!--
<div class="container">
  <ul class="collection">
      <li class="collection-item avatar">
        <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/720/ninja-background-128.png" alt="" class="circle">
        <span class="title">Username</span>
      </li>

      <li class="collection-item avatar">
        <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/720/ninja-background-128.png" alt="" class="circle">
        <span class="title">Username</span>
      </li>

      <li class="collection-item avatar">
        <img src="https://cdn1.iconfinder.com/data/icons/ninja-things-1/720/ninja-background-128.png" alt="" class="circle">
        <span class="title">Username</span>
      </li>
  </ul>
</div> -->


<!-- CTA join tribe -->


