<div class="container">
  <h1 class="center-align">Create a hut</h1>
  <div class="row">
      <%= simple_form_for @hut do |f| %>
          <%= f.input :name%>
          <%= f.input :about %>
          <%= f.input :capacity %>
          <%= f.input :address %>
          <%= f.input :address2 %>
          <%= f.input :zip_code%>
          <%= f.input :city %>
          <%= f.input :country %>
          <div class="file-field input-field">
            <div class="btn btn-input-file-cyan">
              <span>Photo</span>
              <%= f.input :photo, as: :attachinary, label: false %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one file only please">
            </div>
          </div>
      <div class="center-align">
        <%= f.submit "Add my hut", class: 'btn-large waves-effect waves-light amber' %>
      </div>
      <div class="left-align padding-top">
        <%= link_to huts_path, class: 'btn-floating btn-large light-primary-btn waves-effect waves-light' do %>
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        <% end %></br>
        <em>Home page</em>
      </div>
    <% end %>
  </div>
</div>
