

<div class = "container">

<%= simple_form_for @hut do |f| %>
    <%= f.input :name%>
    <%= f.input :about %>
    <%= f.input :capacity %>
    <%= f.input :address %>
    <%= f.input :address2 %>
    <%= f.input :zip_code%>
    <%= f.input :city %>
    <%= f.input :country %>
    <%= f.submit "Create your Hut"%>
  <% end %>

  </div>

